<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsFgC04PL2hDc0VBTQT9HsNWgu2A1OHbs</string>
	<key>GCM_SENDER_ID</key>
	<string>264491915352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careerCompass</string>
	<key>PROJECT_ID</key>
	<string>carrer-compas</string>
	<key>STORAGE_BUCKET</key>
	<string>carrer-compas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264491915352:ios:316b4918faabeaa3f4122d</string>
</dict>
</plist>